// margins for left and right
.mlr-small {
  margin-left: 2px;
  margin-right: 2px;
}

// margins for top and bottom
.mtb-small {
  margin-top: 2px;
  margin-bottom: 2px;
}

// margins for top
.mt-small {
  margin-top: 2px;
}

// margins for bottom
.mb-small {
  margin-bottom: 2px;
}